For this lab, we will be using the marketing_customer_analysis.csv file that you can find in the files_for_lab folder. Check out the files_for_lab/about.md to get more information if you are using the Online Excel.

*Note: For the next labs we will be using the same data file. Please save the code, so that you can re-use it later in the labs following this lab.*

- Dealing with the data
- Show the dataframe shape.
- Standardize header names.
- Which columns are numerical?
- Which columns are categorical?
- Check and deal with NaN values.
- Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. Hint: If data from March does not exist, consider only January and February.
- BONUS: Put all the previously mentioned data transformations into a function.

In [2]:
import pandas as pd
file1 = pd.read_csv('/Users/Ana/Desktop/Ironhack/Week_1/Day_2/Afternoon/lab-customer-analysis-round-2/files_for_lab/csv_files/marketing_customer_analysis.csv')

In [3]:
file1.shape

(10910, 26)

In [4]:
file1.head(30)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
5,5,HO81102,NaN,4745.181764,NaN,Basic,High School or Below,2/14/11,Employed,M,...,0.0,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A
6,6,IW72280,California,5035.035257,No,Basic,Doctor,2/14/11,Employed,F,...,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,NaN
7,7,IH64929,California,4956.247235,No,Basic,High School or Below,2/24/11,Employed,M,...,0.0,3,Personal Auto,Personal L2,Offer2,Branch,247.402353,Two-Door Car,Medsize,NaN
8,8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,NaN
9,9,QX31376,Oregon,17114.328150,No,Extended,Master,1/4/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small,NaN
10,10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
11,11,GE63585,NaN,2420.711888,NaN,Basic,Bachelor,2/7/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L3,Offer1,Call Center,199.551735,Two-Door Car,Medsize,NaN
12,12,EO51920,Oregon,19955.257130,No,Extended,High School or Below,1/31/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Agent,64.669515,Four-Door Car,Medsize,NaN
13,13,KR82385,California,5454.587929,No,Basic,Master,1/26/11,Employed,M,...,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A
14,14,TL59568,Arizona,12836.009510,No,Premium,High School or Below,2/28/11,Unemployed,M,...,0.0,2,Personal Auto,Personal L2,Offer3,Agent,835.200000,Two-Door Car,Medsize,NaN
15,15,CW49887,California,4626.801093,Yes,Basic,Master,1/16/11,Employed,F,...,0.0,1,Special Auto,Special L1,Offer2,Branch,547.200000,SUV,Medsize,NaN
16,16,FH51383,California,5326.677654,No,Basic,High School or Below,2/7/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A
17,17,TR26615,Oregon,2497.531509,No,Basic,High School or Below,1/17/11,Unemployed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer2,Branch,272.381465,Two-Door Car,Medsize,A
18,18,ZC97968,California,2736.352663,No,Basic,College,2/14/11,Disabled,M,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,350.400000,Two-Door Car,Medsize,A
19,19,NJ54277,California,3746.751625,Yes,Extended,College,2/26/11,Employed,F,...,1.0,1,Personal Auto,Personal L2,Offer2,Call Center,19.575683,Two-Door Car,Large,A
20,20,OM80593,California,7247.313475,No,Basic,Bachelor,2/23/11,Unemployed,F,...,0.0,7,Personal Auto,Personal L3,Offer1,Call Center,499.200000,SUV,Medsize,A
21,21,RL65736,Oregon,6274.447705,No,Extended,High School or Below,2/14/11,Medical Leave,F,...,0.0,3,Personal Auto,Personal L1,Offer1,Agent,408.000000,Four-Door Car,Small,NaN
22,22,EQ62488,Oregon,15031.564500,No,Basic,College,1/15/11,Employed,F,...,0.0,8,Personal Auto,Personal L3,Offer2,Call Center,907.200000,Luxury Car,Large,A
23,23,NQ71171,California,5107.071054,No,Basic,Bachelor,2/2/11,Employed,M,...,NaN,7,Personal Auto,Personal L2,Offer1,Agent,128.900320,Four-Door Car,Medsize,NaN
24,24,YK32760,Oregon,2502.209885,No,Basic,High School or Below,2/15/11,Unemployed,M,...,1.0,1,Corporate Auto,Corporate L1,Offer1,Agent,355.200000,Four-Door Car,Medsize,A
25,25,AY59197,Nevada,9521.222806,No,Extended,College,1/24/11,Employed,M,...,0.0,6,Special Auto,Special L3,Offer4,Agent,123.154160,SUV,Small,A
26,26,XF15789,Arizona,8869.619888,No,Basic,College,2/21/11,Employed,F,...,0.0,9,Personal Auto,Personal L3,Offer3,Branch,228.185834,SUV,Large,A
27,27,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,2/28/11,Employed,F,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,60.036683,Four-Door Car,Medsize,NaN
28,28,CI99444,Nevada,2926.886293,No,Basic,College,2/22/11,Employed,F,...,0.0,1,Special Auto,Special L2,Offer2,Call Center,234.774747,Four-Door Car,Medsize,A
29,29,BD70337,California,24706.920110,No,Basic,High School or Below,1/7/11,Medical Leave,M,...,0.0,2,Personal Auto,Personal L2,Offer4,Call Center,313.192439,Four-Door Car,Medsize,NaN

In [5]:
#to standardize header names we must change ' ' for '_' and make it lowercase. We use a loop for it
cols = [] #  empty list to store the new column names
for i in range(len(file1.columns)):
    cols.append(file1.columns[i].lower())
    
file1.columns = cols

cols2 = []
for i in range(len(file1.columns)):
    cols2.append(file1.columns[i].replace(' ','_'))
    
file1.columns = cols2

file1.T.head(27)

,0,1,2,3,4,5,6,7,8,9,...,10900,10901,10902,10903,10904,10905,10906,10907,10908,10909
unnamed:_0,0,1,2,3,4,5,6,7,8,9,...,10900,10901,10902,10903,10904,10905,10906,10907,10908,10909
customer,DK49336,KX64629,LZ68649,XL78013,QA50777,HO81102,IW72280,IH64929,FM55990,QX31376,...,VN73653,RY92254,PP30874,SU71163,QI63521,FE99816,KX53892,TL39050,WA60547,IV32877
state,Arizona,California,Washington,Oregon,Oregon,NaN,California,California,California,Oregon,...,Oregon,Washington,California,Arizona,Nevada,Nevada,Oregon,Arizona,California,NaN
customer_lifetime_value,4809.21696,2228.525238,14947.9173,22332.43946,9025.067525,4745.181764,5035.035257,4956.247235,5989.773931,17114.32815,...,6423.739052,4547.892543,3579.023825,2771.663013,19228.46362,15563.36944,5259.444853,23893.3041,11971.97765,6857.519928
response,No,No,No,Yes,No,NaN,No,No,Yes,No,...,No,No,No,No,No,No,No,No,No,NaN
coverage,Basic,Basic,Basic,Extended,Premium,Basic,Basic,Basic,Premium,Extended,...,Basic,Premium,Extended,Basic,Basic,Premium,Basic,Extended,Premium,Basic
education,College,College,Bachelor,College,Bachelor,High School or Below,Doctor,High School or Below,College,Master,...,College,Bachelor,High School or Below,College,High School or Below,Bachelor,College,Bachelor,College,Bachelor
effective_to_date,2/18/11,1/18/11,2/10/11,1/11/11,1/17/11,2/14/11,2/14/11,2/24/11,1/19/11,1/4/11,...,2/13/11,1/13/11,1/24/11,1/7/11,2/24/11,1/19/11,1/6/11,2/6/11,2/13/11,1/8/11
employmentstatus,Employed,Unemployed,Employed,Employed,Medical Leave,Employed,Employed,Employed,Employed,Employed,...,Unemployed,Employed,Employed,Employed,Unemployed,Unemployed,Employed,Employed,Employed,Unemployed
gender,M,F,M,M,F,M,F,M,M,F,...,M,M,F,M,M,F,F,F,F,M
income,48029,0,22139,49078,23675,50549,37405,87197,66839,70961,...,0,33531,28304,59855,0,0,61146,39837,64195,0
location_code,Suburban,Suburban,Suburban,Suburban,Suburban,Suburban,Urban,Urban,Suburban,Suburban,...,Suburban,Suburban,Suburban,Suburban,Suburban,Suburban,Urban,Rural,Urban,Suburban
marital_status,Married,Single,Single,Single,Married,Divorced,Married,Single,Single,Married,...,Single,Married,Married,Married,Single,Married,Married,Married,Divorced,Single
monthly_premium_auto,61,64,100,97,117,61,63,63,154,85,...,188,116,91,74,187,253,65,201,158,101
months_since_last_claim,7.0,3.0,34.0,10.0,NaN,2.0,8.0,35.0,33.0,19.0,...,5.0,11.0,10.0,30.0,14.0,NaN,7.0,11.0,0.0,31.0
months_since_policy_inception,52,26,31,3,31,73,99,45,24,8,...,67,15,30,82,32,40,68,63,27,1
number_of_open_complaints,0.0,0.0,0.0,0.0,NaN,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,2.0,4.0,0.0,NaN,0.0,0.0,4.0,0.0
number_of_policies,9,1,2,2,7,7,4,3,1,2,...,1,1,1,1,2,7,6,2,6,3
policy_type,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,...,Corporate Auto,Personal Auto,Personal Auto,Personal Auto,Personal Auto,Personal Auto,Personal Auto,Corporate Auto,Personal Auto,Personal Auto
policy,Corporate L3,Personal L3,Personal L3,Corporate L3,Personal L2,Personal L3,Corporate L2,Personal L2,Personal L1,Corporate L3,...,Corporate L2,Personal L3,Personal L2,Personal L2,Personal L2,Personal L1,Personal L3,Corporate L3,Personal L1,Personal L1
renew_offer_type,Offer3,Offer4,Offer3,Offer2,Offer1,Offer1,Offer2,Offer2,Offer2,Offer2,...,Offer3,Offer4,Offer2,Offer2,Offer1,Offer3,Offer2,Offer1,Offer1,Offer4
sales_channel,Agent,Call Center,Call Center,Branch,Branch,Agent,Branch,Branch,Branch,Agent,...,Agent,Agent,Agent,Branch,Branch,Web,Branch,Web,Branch,Web
total_claim_amount,292.8,744.924331,480.0,484.013411,707.925645,292.8,287.556107,247.402353,739.2,408.0,...,1621.560425,801.577478,655.2,355.2,897.6,1214.4,273.018929,381.306996,618.288849,1021.719397
vehicle_class,Four-Door Car,Four-Door Car,SUV,Four-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,Two-Door Car,Sports Car,Four-Door Car,...,Luxury SUV,Two-Door Car,Four-Door Car,Two-Door Car,Luxury SUV,Luxury Car,Four-Door Car,Luxury SUV,SUV,SUV
vehicle_size,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Small,...,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize
vehicle_type,NaN,NaN,A,A,NaN,A,NaN,NaN,NaN,NaN,...,NaN,NaN,A,A,A,A,A,NaN,A,NaN

In [6]:
file1.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

- Which columns are numerical?
    'unnamed:_0', 'customer_lifetime_value', 'number_of_open_complaints','number_of_policies', 'total_claim_amount'
- Which columns are categorical?
    the rest

In [7]:
file1.info

<bound method DataFrame.info of        unnamed:_0 customer       state  customer_lifetime_value response  \
0               0  DK49336     Arizona              4809.216960       No
1               1  KX64629  California              2228.525238       No
2               2  LZ68649  Washington             14947.917300       No
3               3  XL78013      Oregon             22332.439460      Yes
4               4  QA50777      Oregon              9025.067525       No
...           ...      ...         ...                      ...      ...
10905       10905  FE99816      Nevada             15563.369440       No
10906       10906  KX53892      Oregon              5259.444853       No
10907       10907  TL39050     Arizona             23893.304100       No
10908       10908  WA60547  California             11971.977650       No
10909       10909  IV32877         NaN              6857.519928      NaN

       coverage education effective_to_date employmentstatus gender  ...  \
0         Basic   College           2/18/11         Employed      M  ...
1         Basic   College           1/18/11       Unemployed      F  ...
2         Basic  Bachelor           2/10/11         Employed      M  ...
3      Extended   College           1/11/11         Employed      M  ...
4       Premium  Bachelor           1/17/11    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor           1/19/11       Unemployed      F  ...
10906     Basic   College            1/6/11         Employed      F  ...
10907  Extended  Bachelor            2/6/11         Employed      F  ...
10908   Premium   College           2/13/11         Employed      F  ...
10909     Basic  Bachelor            1/8/11       Unemployed      M  ...

       number_of_open_complaints number_of_policies     policy_type  \
0                            0.0                  9  Corporate Auto
1                            0.0                  1   Personal Auto
2                            0.0                  2   Personal Auto
3                            0.0                  2  Corporate Auto
4                            NaN                  7   Personal Auto
...                          ...                ...             ...
10905                        NaN                  7   Personal Auto
10906                        0.0                  6   Personal Auto
10907                        0.0                  2  Corporate Auto
10908                        4.0                  6   Personal Auto
10909                        0.0                  3   Personal Auto

             policy  renew_offer_type  sales_channel  total_claim_amount  \
0      Corporate L3            Offer3          Agent          292.800000
1       Personal L3            Offer4    Call Center          744.924331
2       Personal L3            Offer3    Call Center          480.000000
3      Corporate L3            Offer2         Branch          484.013411
4       Personal L2            Offer1         Branch          707.925645
...             ...               ...            ...                 ...
10905   Personal L1            Offer3            Web         1214.400000
10906   Personal L3            Offer2         Branch          273.018929
10907  Corporate L3            Offer1            Web          381.306996
10908   Personal L1            Offer1         Branch          618.288849
10909   Personal L1            Offer4            Web         1021.719397

       vehicle_class vehicle_size vehicle_type
0      Four-Door Car      Medsize          NaN
1      Four-Door Car      Medsize          NaN
2                SUV      Medsize            A
3      Four-Door Car      Medsize            A
4      Four-Door Car      Medsize          NaN
...              ...          ...          ...
10905     Luxury Car      Medsize            A
10906  Four-Door Car      Medsize            A
10907     Luxury SUV      Medsize          NaN
10908            SUV      Medsize            A
10909            SUV      Medsize          NaN

[10910 rows x 26 columns]>

In [8]:
df1 = file1.copy()

In [9]:
df1.isna().sum()

unnamed:_0                          0
customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [10]:
# fields with missing values: vehicle_type, vehicle_size, vehicle_class, 
# number_of_open_complaints, months_since_last_claim, response, state

# for categorical values like state, vehicle_class, vehicle_size, we can use the Mode to fill NaNs
# vehicle_type is also categorical but half of it is made of empty values so probably it will be better to drop the whole column in this case

# 'response' is a boolean and we can assume if we don't have the information
# is because the customers did not reply - missing values become a NO

#  same with 'number of open complaints' - if we don't have the information is bc 
#  the customer did not complain so we can assume it to be 0

# the column 'unknown: 0' can be dropped as it is a copy of the index

# for months_since_last_claim, we assume this is the people who never had a claim, 
# therefore their values should be the avg

In [11]:
# lets make this changes in another copy

#first we remove the columns ['vehicle_type','unnamed:_0']

df2 = df1.copy()

df2 = df2.drop(['vehicle_type','unnamed:_0'], axis=1)
df2.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize

In [12]:
df2 = df2[df2['number_of_open_complaints'].isna()==False].head(10) #it replaces the missing values for 0

In [13]:
# for categorical values like state, vehicle_class, vehicle_size, we can use the Mode to fill NaNs
# so we define it 

import numpy as np
mode_state = df2['state'].mode()
mode_vehicle_class = df2['vehicle_class'].mode()
mode_vehicle_size = df2['vehicle_size'].mode()

print(mode_state)
print(mode_vehicle_class)
print(mode_vehicle_size)

0    California
Name: state, dtype: object
0    Four-Door Car
Name: vehicle_class, dtype: object
0    Medsize
Name: vehicle_size, dtype: object

In [14]:
#then i use that method .fillna() to replace all values that are empty with our mean

df2['state'] = df2['state'].fillna(mode_state) 
df2['vehicle_class'] = df2['vehicle_class'].fillna(mode_vehicle_class) 
df2['vehicle_size'] = df2['vehicle_size'].fillna(mode_vehicle_size)

In [15]:
# for months_since_last_claim, we assume this is the people who never had a claim, 
# therefore their values should be the avg 

avg_mslc = df2['months_since_last_claim'].mean()
print(avg_mslc)

16.4

In [16]:
df2['months_since_last_claim'] = df2['months_since_last_claim'].fillna(avg_mslc)

In [17]:
# 'response' is a boolean (Yes/No and we can assume if we don't have the information
# is because the customers did not reply - missing values become a NO

df2['response'] = df2['response'].fillna('No') 
df2.head(10)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
5,HO81102,NaN,4745.181764,No,Basic,High School or Below,2/14/11,Employed,M,50549,...,73,0.0,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize
6,IW72280,California,5035.035257,No,Basic,Doctor,2/14/11,Employed,F,37405,...,99,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize
7,IH64929,California,4956.247235,No,Basic,High School or Below,2/24/11,Employed,M,87197,...,45,0.0,3,Personal Auto,Personal L2,Offer2,Branch,247.402353,Two-Door Car,Medsize
8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,66839,...,24,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize
9,QX31376,Oregon,17114.328150,No,Extended,Master,1/4/11,Employed,F,70961,...,8,0.0,2,Corporate Auto,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small
10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,82730,...,31,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large

In [18]:
# Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. Hint: If data from March does not exist, consider only January and February.

In [19]:
df2['effective_to_date'] = pd.to_datetime(df2['effective_to_date'],errors = 'coerce')
display(df2.head())
print(df2.dtypes)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
5,HO81102,NaN,4745.181764,No,Basic,High School or Below,2011-02-14,Employed,M,50549,...,73,0.0,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize

customer                                 object
state                                    object
customer_lifetime_value                 float64
response                                 object
coverage                                 object
education                                object
effective_to_date                datetime64[ns]
employmentstatus                         object
gender                                   object
income                                    int64
location_code                            object
marital_status                           object
monthly_premium_auto                      int64
months_since_last_claim                 float64
months_since_policy_inception             int64
number_of_open_complaints               float64
number_of_policies                        int64
policy_type                              object
policy                                   object
renew_offer_type                         object
sales_channel                            object
total_claim_amount                      float64
vehicle_class                            object
vehicle_size                             object
dtype: object

In [20]:
import pandas as pd

df3 = df2.copy()
df3['month'] = pd.to_datetime(df3['effective_to_date']).dt.strftime('%B')


df3.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,February
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,January
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,February
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,January
5,HO81102,NaN,4745.181764,No,Basic,High School or Below,2011-02-14,Employed,M,50549,...,0.0,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,February

In [21]:
df3[(df3['month'] == 'February')|(df3['month']== 'January')]

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,February
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,January
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,February
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,January
5,HO81102,NaN,4745.181764,No,Basic,High School or Below,2011-02-14,Employed,M,50549,...,0.0,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,February
6,IW72280,California,5035.035257,No,Basic,Doctor,2011-02-14,Employed,F,37405,...,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,February
7,IH64929,California,4956.247235,No,Basic,High School or Below,2011-02-24,Employed,M,87197,...,0.0,3,Personal Auto,Personal L2,Offer2,Branch,247.402353,Two-Door Car,Medsize,February
8,FM55990,California,5989.773931,Yes,Premium,College,2011-01-19,Employed,M,66839,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,January
9,QX31376,Oregon,17114.328150,No,Extended,Master,2011-01-04,Employed,F,70961,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small,January
10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,2011-01-02,Employed,M,82730,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,January